<div class="container postEntry ">

<%= form_for(@forum) do |f| %>
<div class="form-group">
  <% if @forum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forum.errors.count, "error") %> prohibited this forum from being saved:</h2>

      <ul>
      <% @forum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title,:class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content,:class=>"form-control" %>
  </div>

  <br>
  <div class="actions">
    <input type="submit" value="Post" class="btn btn-default btn-lg">
  </div>
</div>
<% end %>
<%= link_to 'Back', forums_path %>
</div>