
<div class="tab-content">
  <div class="tab-pane fade active in" id="newsFeed">


    

    <% @forums.each do |forum| %>
    <div class="container feed normal">
      <h1 class="articleTitle"><%= forum.title %></h1>
      <p class='datePosted'><span class='text-muted'><%=forum.created_at.strftime("%d-%B-%Y")%></p>
      <h2 class='content text-info'><%= forum.content %></h2>
      

      <section class='feedback'>
        <div class='starRatings'>
          <span class='text-success'>Rating</span>
             <%= rating_for forum, "contents",stars:5,half_show: true%>
        </div>
        <p>
        <%=link_to "Feedback",forum_feedback_new_path(forum),:remote=>true,:class=>"btn btn-small btn-primary"%>
        
      </p>
        <div class="modal fade" id="feedback_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">

              <div class="modal-content">
                <div class="modal-header">Your feedback</div>
                 <div class="modal-body">
              <div class="form-group feedback" id="feedback">
              </div>
            </div>
            </div>
          </div>
    </div>
      </div>
      </section>
    </div>
    <% end %>
    

