<p id="notice"><%= notice %></p>
<p>
<strong>Title:</strong>
<%= @forum.title %>
</p>

<p>
<strong>Content:</strong>
<%= @forum.content %>
</p>

<p>
<strong>Tags:</strong>
<%= @forum.tags %>
</p>

<%= rating_for @forum, "contents",imdb_avg:true,stars:5,half_show: true %>

<%= link_to 'Edit', edit_forum_path(@forum) %> |
<%= link_to 'Back', forums_path %>
