<p id="notice"><%= notice %></p>

<div class="container feed normal">
<h1 class="articleTitle">
<%= @forum.title %>
</h1>

<p>

<h2 class='content text-info'><%= @forum.content %></h2>
</p>

<p>
<strong>Tags:</strong>
<%= @forum.tags %>
</p>
<%if @show_value%>
  <%= rating_for_user @forum,current_user, "contents",disable_after_rate: true,imdb_avg:true,stars:5,half_show: true %>
<%end%>
<%@forum.feedback.each do |feed|%>
  <%=feed.comment%>
<%end%>
<%= link_to 'Edit', edit_forum_path(@forum) %> |
<%= link_to 'Back', forums_path %>
