<br>
<div class="row bg">
  <div class="col-md-6 pull-left">
    <h3>Profile</h3>
  </div>
  <div class="col-md-6 pull-right">

    <h3>Your V! id is <b><%="V"+resource.id.to_s.rjust(5,"0")%></b></h3>
  </div>
</div>
<br>
<div class="col-md-12">
  
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="col-md-6">
  <div class="field">
    <%= f.text_field :name,:placeholder=>"Name",:class=>"form-control input-md"%>
  </div><br/>
  <div class="field">
    <%= f.text_field :college,:placeholder=>"college",:class=>"form-control input-md"%>
  </div><br/>
  <div class="field">
    <%= f.text_field :department,:placeholder=>"Department",:class=>"form-control input-md"%>
  </div><br/>
  <div class="field">
    <%= f.text_field :year,:placeholder=>"Year",:class=>"form-control input-md" %>
  </div>
</div>
<div class="col-md-6">

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    
    <%= f.password_field :password, autocomplete: "off",:placeholder=>"password (leave blank if you don't want to change it)",:class=>"form-control input-md" %>
  </div><br/>

  <div class="field">
    
    <%= f.password_field :password_confirmation, autocomplete: "off",:placeholder=>"confirm password",:class=>"form-control input-md"%>
  </div><br/>

  <div class="field">
    
  <%= f.password_field :current_password, autocomplete: "off",:placeholder=>"current password (we need your current password to confirm your changes)",:class=>"form-control input-md" %>
</div> 
<br>
  <div class="actions">
    <%= f.submit "Update",:class=>"btn btn-success" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
</div>

</div>
