<div id="register" class="animate form">

<h1>Sign up</h1> 
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%if not resource.errors.empty?%>
    <div class="alert alert-danger">
      <%= devise_error_messages! %>
    </div>
    <%end%>
      <p> 
    <label for="name" class="youmail" data-icon="u" > Your name</label>
    <%= f.email_field :email,:placeholder=>"Your name" %>
  </p>
  <p> 
    <label for="emailsignup" class="youmail" data-icon="e" > Your email</label>
    <%= f.email_field :email,:placeholder=>"Your email id" %>
  </p>
    <p>

    <% if @validatable %>
    <label for="passwordsignup" class="youpasswd" data-icon="p">Your password </label>
<%= f.password_field :password, autocomplete: "off"  ,:placeholder=>"Password min "+@minimum_password_length.to_s+" char length" %><br>
    <% end %>
  </p>
  <p>
    <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label>
    <%= f.password_field :password_confirmation, autocomplete: "off" ,:placeholder=>"Confirm passowrd" %>
</p>
<p class="signin button"> 
        <%= f.submit "Sign up",:class=>"btn btn-success" %>
      </p>  
<% end %>
<%= render "devise/shared/links" %>
</div>
