<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "AnonRatr" %></title>
  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
      <![endif]-->

      <%= stylesheet_link_tag "application", :media => "all" %>

      <!-- For third-generation iPad with high-resolution Retina display: -->
      <!-- Size should be 144 x 144 pixels -->
      <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

      <!-- For iPhone with high-resolution Retina display: -->
      <!-- Size should be 114 x 114 pixels -->
      <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

      <!-- For first- and second-generation iPad: -->
      <!-- Size should be 72 x 72 pixels -->
      <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

      <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
      <!-- Size should be 57 x 57 pixels -->
      <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

      <!-- For all other devices -->
      <!-- Size should be 32 x 32 pixels -->
      <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

      <%= javascript_include_tag "application" %>
    </head>
    <body>
      <header  class='row main-header'>
        <h1 style='float:left'><span class='logo'>AR</span><span class='brandName'>AnonRatr 

        </span></h1>
        <p style="position: relative;top: .7em;right: 2em;">
          <%if user_signed_in?%>

          <%= link_to('Logout', destroy_user_session_path, :method => :delete,:class=>"btn btn-danger pull-right") %>  
          <%end%>

          <span class="welcome_text pull-right">Welcome, <%=current_user.name%></span> 
<span class="pull-right"><%=gravatar_image_tag(current_user.email, :alt =>current_user.name,:class=>"img-rounded")%></span>
        </p>



      </header>
      <ul class="nav nav-pills nav-justified">

        <%if request.fullpath=="/feed"%>
        <li class="active"><a href="/feed"><span class="glyphicon glyphicon-th-list"></span> News Feed</a></li>
        <%else%>
        <li><a href="/feed"><span class="glyphicon glyphicon-th-list"></span> News Feed</a></li>
        <%end%>
        <%if request.fullpath=="/forums"%>
        <li class="active"><a href="/forums"><span class="glyphicon glyphicon-user"></span> My Posts</a></li>
        <%else%>
        <li><a href="/forums"><span class="glyphicon glyphicon-user"></span> My Posts</a></li>
        <%end%>
        <%if request.fullpath=="/forums/new"%>
        <li class="active"><%=link_to new_forum_path do%>
          <span class="glyphicon glyphicon-pencil"></span> New Post
          <%end%>
          <%else%>
          <li><%=link_to new_forum_path do%>
            <span class="glyphicon glyphicon-pencil"></span> New Post
            <%end%>
            <%end%>
          </li>

        </ul>
        <%= bootstrap_flash %>

        <br>
        <%= yield %>
      </div>

    </div>

    <footer>
    <r
    <div class="row">
        <div class="col-md-4">
         <%=gravatar_image_tag("linkinnation1792@gmail.com", :alt =>"Harish Ramani",:class=>"img-rounded")%><br>
         <a href="https://www.twitter.com/linkinnation" target="_blank">
           @linkinnation
       </a><br>
       A TCS Employee and a former Instrumentation And Control Engineer
   </div>

   <div class="col-md-4">
     <%=gravatar_image_tag("raki.kb91@gmail.com", :alt =>"Harish Ramani",:class=>"img-rounded")%><br>
     <a href="https://twitter.com/Rajki91" target="_blank">
       @Rajki91

   </a><br>
   TCS Employee with a fantastic UI and UX skills wanting to build great apps

</div>
<div class="col-md-4">
    <%=gravatar_image_tag("sureshprasanna70@gmail.com", :alt =>"Harish Ramani",:class=>"img-rounded")%><br>
    <a href="https://www.twitter.com/cegsuresh" target="_blank">
        @cegsuresh</a><br>
        Student of College Of Engineering, Guindy. An RoR enthusiast

    </div>
</div>
<br><br>
<div class="row">
    <div class="col-md-12">
        <img src="/assets/savethehacker.png" width="10%" height="auto" class="sth"><br>
        <a href="https://www.twitter.com/savethehacker" target="_blank">@savethehacker</a>
        <br>
        Hackathon courtesy:<br>
    </div>
</div>
</footer>

  </div> 
</body>

